eBanking-ws/src/main/java/com/ebanking/ws/model/card/cardType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="cardType">
    <xs:sequence>
      <xs:element name="cardTypeId" type="xs:long"/>
      <xs:element name="cardTypeName" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

