eBanking-ws/src/main/java/com/ebanking/ws/service/request/appLogRQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="appLogRQ">
    <xs:sequence>
      <xs:element name="actionSearch" type="xs:string" minOccurs="0"/>
      <xs:element name="fromDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="messageSearch" type="xs:string" minOccurs="0"/>
      <xs:element name="toDate" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

