eBanking-ws/src/main/java/com/ebanking/ws/service/request/changePasswordRQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="changePasswordRQ">
    <xs:sequence>
      <xs:element name="currentPassword" type="xs:string" minOccurs="0"/>
      <xs:element name="login" type="xs:string" minOccurs="0"/>
      <xs:element name="newPassword" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

