eBanking-ws/src/main/java/com/ebanking/ws/service/request/chargeRQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="chargeRQ">
    <xs:sequence>
      <xs:element name="amount" type="xs:double"/>
      <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="fromBankAccount" type="xs:long"/>
      <xs:element name="toCardAccount" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

