eBanking-ws/src/main/java/com/ebanking/ws/service/request/retrieveClientRQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="retrieveClientRQ">
    <xs:sequence>
      <xs:element name="clientId" type="xs:long"/>
      <xs:element name="searchField" type="xs:string" minOccurs="0"/>
      <xs:element name="searchKey" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

