eBanking-ws/src/main/java/com/ebanking/ws/model/operation/operationType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="operationType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="operationType" type="xs:string" minOccurs="0"/>
      <xs:element name="operationTypeId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

