eBanking-ws/src/main/java/com/ebanking/ws/model/finance/currency.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="currency">
    <xs:sequence>
      <xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="currencyDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="currencyId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

