eBanking-ccui/src/main/java/com/ebanking/cui/service/client/impl/client/retrieve/RetrieveClientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://retrieveClient.impl.service.ws.ebanking.com"
                  xmlns:impl="http://retrieveClient.impl.service.ws.ebanking.com"
                  xmlns:tns1="http://request.service.ws.ebanking.com"
                  xmlns:tns2="http://response.service.ws.ebanking.com" xmlns:tns3="http://account.model.ws.ebanking.com"
                  xmlns:tns4="http://address.model.ws.ebanking.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://request.service.ws.ebanking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://response.service.ws.ebanking.com"/>
   <import namespace="http://retrieveClient.impl.service.ws.ebanking.com"/>
   <import namespace="http://account.model.ws.ebanking.com"/>
   <import namespace="http://address.model.ws.ebanking.com"/>
   <complexType name="RetrieveClientRQ">
    <sequence>
     <element name="clientId" type="xsd:long"/>
     <element name="searchField" nillable="true" type="xsd:string"/>
     <element name="searchKey" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://retrieveClient.impl.service.ws.ebanking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://response.service.ws.ebanking.com"/>
   <import namespace="http://request.service.ws.ebanking.com"/>
   <import namespace="http://account.model.ws.ebanking.com"/>
   <import namespace="http://address.model.ws.ebanking.com"/>
   <element name="request" type="tns1:RetrieveClientRQ"/>
   <complexType name="ArrayOf_tns3_Client">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:Client"/>
    </sequence>
   </complexType>
   <element name="executeReturn" type="tns2:RetrieveClientRS"/>
   <element name="x0" type="xsd:anyType"/>
   <element name="executeReturn1" type="xsd:anyType"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://address.model.ws.ebanking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://response.service.ws.ebanking.com"/>
   <import namespace="http://request.service.ws.ebanking.com"/>
   <import namespace="http://retrieveClient.impl.service.ws.ebanking.com"/>
   <import namespace="http://account.model.ws.ebanking.com"/>
   <complexType name="Country">
    <sequence>
     <element name="countryId" type="xsd:long"/>
     <element name="countryName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="City">
    <sequence>
     <element name="cityId" type="xsd:long"/>
     <element name="cityName" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="tns4:Country"/>
    </sequence>
   </complexType>
   <complexType name="Address">
    <sequence>
     <element name="addressId" type="xsd:long"/>
     <element name="city" nillable="true" type="tns4:City"/>
     <element name="flatNumber" nillable="true" type="xsd:string"/>
     <element name="houseNumber" nillable="true" type="xsd:string"/>
     <element name="region" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://account.model.ws.ebanking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://response.service.ws.ebanking.com"/>
   <import namespace="http://request.service.ws.ebanking.com"/>
   <import namespace="http://retrieveClient.impl.service.ws.ebanking.com"/>
   <import namespace="http://address.model.ws.ebanking.com"/>
   <complexType name="Client">
    <sequence>
     <element name="address" nillable="true" type="tns4:Address"/>
     <element name="clientId" type="xsd:long"/>
     <element name="dateOfBirth" nillable="true" type="xsd:dateTime"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstname" nillable="true" type="xsd:string"/>
     <element name="lastname" nillable="true" type="xsd:string"/>
     <element name="middlename" nillable="true" type="xsd:string"/>
     <element name="mobileNumber" nillable="true" type="xsd:string"/>
     <element name="personalCode" nillable="true" type="xsd:string"/>
     <element name="phoneNumber" nillable="true" type="xsd:string"/>
     <element name="secretWord" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://response.service.ws.ebanking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://request.service.ws.ebanking.com"/>
   <import namespace="http://retrieveClient.impl.service.ws.ebanking.com"/>
   <import namespace="http://account.model.ws.ebanking.com"/>
   <import namespace="http://address.model.ws.ebanking.com"/>
   <complexType name="RetrieveClientRS">
    <sequence>
     <element name="clients" nillable="true" type="impl:ArrayOf_tns3_Client"/>
     <element name="exception" nillable="true" type="xsd:string"/>
     <element name="success" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="executeResponse1">

      <wsdl:part element="impl:executeReturn1" name="executeReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="executeRequest1">

      <wsdl:part element="impl:x0" name="x0">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="executeRequest">

      <wsdl:part element="impl:request" name="request">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="executeResponse">

      <wsdl:part element="impl:executeReturn" name="executeReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RetrieveClientService">

      <wsdl:operation name="execute" parameterOrder="request">

         <wsdl:input message="impl:executeRequest" name="executeRequest">

       </wsdl:input>

         <wsdl:output message="impl:executeResponse" name="executeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="execute" parameterOrder="x0">

         <wsdl:input message="impl:executeRequest1" name="executeRequest1">

       </wsdl:input>

         <wsdl:output message="impl:executeResponse1" name="executeResponse1">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RetrieveClientServiceSoapBinding" type="impl:RetrieveClientService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="execute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="executeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="execute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeRequest1">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="executeResponse1">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RetrieveClientServiceService">

      <wsdl:port binding="impl:RetrieveClientServiceSoapBinding" name="RetrieveClientService">

         <wsdlsoap:address location="http://localhost:8082/services/com/ebanking/ws/service/impl/retrieveClient/RetrieveClientService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
