eBanking-ws/src/main/java/com/ebanking/ws/service/response/paymentRS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="paymentRS">
    <xs:sequence>
      <xs:element name="success" type="xs:boolean"/>
      <xs:element name="exception" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

